*, *::before *::after {
  box-sizing: border-box;
  overflow-x: hidden;
}

li {
  list-style: none;
}

.App {
  background-color: #282e38;
  min-height: 100vh;
  color: #f7f7f7;
}

.sec {
  background-color: #353d4a;
}